@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
        font-family: "Instrument Sans", "Notable", sans-serif;
    }
}

.notable-regular {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}